<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Buah</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Update Buah</h2>

    <form th:action="@{/buah/{id}(id=${buah.id})}" method="post">
        <input type="hidden" name="_method" value="patch" />
        <input type="text" name="name" placeholder="Name" th:value="${buah.name}" required />
        <button type="submit" class="save-button">Update</button>
    </form>

    <a th:href="@{/}" class="link">Kembali ke Home</a>
</section>
</body>
</html>
